body {
  /* background-color: #eef9bf; */
  background-image: url("https://images4.alphacoders.com/728/thumb-1920-728240.png");
  /* background-image: url(https://images3.alphacoders.com/247/thumb-1920-247807.jpg); */
  /* background-repeat: ; */
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}
.timer {
  width: 100px;
  height: 42px;
  margin-top: 60px;
  font-size: 52px;

}
body > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: #75b79e; */
  /* background: linear-gradient(to right, #3c50cf 0%, #cacf36 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  color: #FFCB05;
  -webkit-text-stroke: 3px #3D7DCA;
  /* -webkit-text-stroke: 3px red; */
  /* border: 4px solid black; */
  margin-top: 32px;
  font-size: 56px;
  line-height: 65.63px;
  font-weight: 700;
}
.card {
  width: 117px;
  height: 146px;
  position: relative;
  margin: 17px;
}

.container {
  height: 100%;
  max-width: 1077px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 60px 88px;
}

.container-6{
  max-width: 532px;
}
.container-8{
  max-width: 754px;
}
.container-10{
  max-width: 900px;
}
.container-12{
  max-width: 1052px;
}


.face {
  width: 100%;
  height: 100%;
  /* background-color: #a7e9af; */
  background-image: linear-gradient(135deg, #ffd26f 10%, #3677ff 100%);
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  backface-visibility: hidden;
  /*Transition é aplicada quando uma propriedade do CSS muda */
  /* Primeiro valor indica que a propriedade que vai aplicar o transition (all é todas as
  propriedades) */
  /* Segundo valor indica o tempo que irá demorar em aplicar o efeito */
  /* Terceiro valor indica como o efeito irá se aplicado (padrão é linear)*/

  transition: all 0.5s linear;
  transform-style: preserve-3d;
}

.face > img {
  width: 90%;
  height: 90%;
}

.front-face > img {
  width: 100%;
  height: 100%;
}

.back-face {
  transform: rotateY(180deg);
}

.back-flip {
  transform: rotateY(0deg);
}

.front-flip {
  transform: rotateY(-180deg);
}

@media (max-width: 650px) {
  body > h1 {
    width: 312px;
    text-align: center;
    font-size: 42px;
    line-height: 42.19px;
    /* margin: 0px auto; */
  }
  .timer {
    font-size: 22px;
    width: 80px;
    height: 32px;
    position: fixed;
    bottom: 0;
    right: 0;
    border-bottom-left-radius: inherit;
    border-top-left-radius: 20px;
    background-color: white;
  }
}
